<div ng-controller="LinksOfTheTagCtrl" class="text-center">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-default"><span class="fa fa-refresh"></span> Tag</button>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" ng-repeat="link in links track by $index" style="margin-bottom: 30px;">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                <iframe ng-src="[[ link.url ]]" frameborder=0 width=510 height=400 scrolling=no style="padding: 5px; background-color: black; border-radius: 5px;"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                <p>
                    <span class="label label-default">Publicado em: [[ link.published_in.$date | date:'dd/MM/yyyy HH:mm' ]]</span>
                    <span class="label label-default">Views: [[ link.views ]]</span>
                    <span class="label label-default" ng-repeat="tag in link.tags">[[ tag ]]</span>
                </p>
                <blockquote ng-show="link.text" class="text-justify" style="height: 350px; overflow: scroll;">
                    <p>[[ link.text ]]</p>
                </blockquote>
            </div>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-default"><span class="fa fa-refresh"></span> Tag</button>
        </div>
    </div>
</div>
