meinheld
bottle
mako

python-dateutil
requests
six
pillow==2.5.1

pymongo==2.8 # PyMongo 3 is incompatible with latest version of mongoengine
mongoengine
redis
rq

ujson

goslate
boto
boto_rsync

short_url

newrelic

nose