.navbar-brand {
/*    padding:0px;
    margin:0px;*/
}

.navbar-brand img {
    width:180px;
    height:50px;
}

#twitter-widget-0 {
    vertical-align: inherit !important;
}

body {
    background-color: black;
}

canvas {
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    max-width: 100%;
    min-width: 250px;
}

iframe {
}

.label {
    margin: 3px;
}

.row {
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}